<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/project_details?id=<%=allprojectlistitem._id%>">
	<img src="/images/<%=allprojectlistitem.pic_path%>" wx-lz="/images/<%=allprojectlistitem.pic_path%>" alt="<%=allprojectlistitem.project_brief%>" title="<%=allprojectlistitem.project_brief%>" style="display: inline;">
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/project_details?project_name=<%=allprojectlistitem.name%>"><%=allprojectlistitem.name%></a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>635</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:1%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">1%</span>
				<span class="rate2">剩余56天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-74638">66</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-74638">11</a>
    </p>
</div>
</li>