    <%if(flag==alluserprojectpagelistitem){%>
	<a id="<%=alluserprojectpagelistitem%>" class='selected'  href='/all_user_project_info_query?page=<%=alluserprojectpagelistitem%>&flag=<%=alluserprojectpagelistitem%>'>&nbsp;<%=alluserprojectpagelistitem%>&nbsp;</a>
	<%}else{%>
	<a id="<%=alluserprojectpagelistitem%>" class='common-sprite'  href='/all_user_project_info_query?page=<%=alluserprojectpagelistitem%>&flag=<%=alluserprojectpagelistitem%>'>&nbsp;<%=alluserprojectpagelistitem%>&nbsp;</a>
	<%}%>