<tr><th><%= listitem.return_type %></th>
<td class="strong"><%= listitem.price %></td>
<td><%= listitem.limit_num %></td>
<td class="tl"><%= listitem.description %></td>
<td><%= listitem.repaid_day %></td>
<td><%= listitem.delivery_fee %></td>
<td><a  class="green Js-del-item"  data-id="<%=listitem.data_id%>" >删除</a><br /><a class="green Js-edit" data-id="<%=listitem.data_id%>"  data-num="01" href="javascript:;">编辑</a></td></tr>