    <%if(flag==pagelistitem){%>
	<a id="<%=pagelistitem%>" class='selected'  href='/author_info_detail_query?page=<%=pagelistitem%>&flag=<%=pagelistitem%>'>&nbsp;<%=pagelistitem%>&nbsp;</a>
	<%}else{%>
	<a id="<%=pagelistitem%>" class='common-sprite'  href='/author_info_detail_query?page=<%=pagelistitem%>&flag=<%=pagelistitem%>'>&nbsp;<%=pagelistitem%>&nbsp;</a>
	<%}%>

	


