				<tr>               
				<td>
					<div class="z-reference clearfix">
						<a href="/deal-show/id-65857" target="_blank" class="z-referenceimg"><img src="/images/<%=projectlistitem.pic_path%>"></a>
						<div class="z-referencetext">
							<p><a href="" target="_blank"><%=projectlistitem.name%></a></p>
						</div>
					</div>
				</td>
				<td>
					<div class="z-day">
						<span><%=projectlistitem.time%></span>
					</div>
				</td>
				<td>
                    <div class="z-day">
						<span><%=projectlistitem.time%></span>
					</div>
                </td>
				<td class="no-hl"><%=projectlistitem.limit_price%>元</td>
				<td>
                    0元<br />0%
                </td>
                <td>
																					草稿													                        <br>
                                                                        <a class="z-payment" href="/projectnew-edit/id-65857">
                        编辑</a>
                                            
                    <a class="z-payment" href="/deal-show/id-65857" target="_blank">预览</a>                                                                            </td> 
			</tr>