    <%if(flag==projectpagelistitem){%>
	<a id="<%=projectpagelistitem%>" class='selected'  href='/public_project_query?page=<%=projectpagelistitem%>&flag=<%=projectpagelistitem%>'>&nbsp;<%=projectpagelistitem%>&nbsp;</a>
	<%}else{%>
	<a id="<%=projectpagelistitem%>" class='common-sprite'  href='/public_project_query?page=<%=projectpagelistitem%>&flag=<%=projectpagelistitem%>'>&nbsp;<%=projectpagelistitem%>&nbsp;</a>
	<%}%>