	<tr>
	<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-71299'><%=unpublishlistitem.name%></a></td>
	<td colspan='1' rowspan='1' class=''><%=unpublishlistitem.time%></td>
	<td colspan="1" rowspan="1" class="">草稿</td>
	<td colspan='1' rowspan='1' class=''><%=unpublishlistitem.limit_price%></td>
	<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='/project-info?flag=edit&id=<%=unpublishlistitem._id%>'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-71299'>预览</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='/delete_project?flag=delete&name=<%=unpublishlistitem.name%>&pic_url=<%=unpublishlistitem.pic_path%>'>删除</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-71299'>分享</a></td>
	</tr>